@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  font-size: 26px;
  list-style-type: none;
  color: #2d2d2d;
}


.caixa {
  display: flex;
  width: 89%;
  margin: 24px 0px 10px 100px;
}

.menu {
  display: flex;
  margin-left: 470px;
}

.menu_options{
  margin-right: 24px;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 266px;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.img-fluid{
  margin-left: 80px;
}
.img-col {
  flex-basis: 100%;
}

#logo {
  max-width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: normal;
  color: #fd8d20;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: normal;
  color: #5a44cd;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #5624c3;
}

#explicacaotexto {
  width: 386px;
  height: 105px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.13;
  color: #292929;
}
.palestrantes {
  width: 1300px;
  height: auto;
  box-shadow: inset 0 1px 11px 0 rgba(255, 150, 0, 0.07);
  background-color: rgba(253, 141, 32, 0.1);
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.titulo_palestrante {
  width: 868px;
  height: 51px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #5624c3;
  text-align: center;
  padding-top: 10px;
  margin-left: 230px;
}

.titulo_palestrante2 {
  width: 868px;
  height: 51px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
  padding: 5%;
  margin-top: 20px;
  margin-left: -285px;
}

.palestrante1 {
  width: 138px;
  height: 138px;
  border-radius: 15px;
}

.area_palestrante {
  width: 300px;
  height: 125px;
  border-radius: 15px;
  background-color: #fd8d20;
  margin-left: 50px;
}

.align_info {
  display: flex;
}
.text_align {
  display:block;
}
.nome_palestrante{
  width: auto;
  height: 23px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #2d2d2d;
}
.prof_palestrante{
  width: auto;
  height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #fd8d20;
}
.text_palestrante{
  width: 685px;
  height: 68px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #2d2d2d;
}

.orangeboard {
  width: 138px;
  height: 138px;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 28px;
}

.botao1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 1.13;
  color: #ffffff;
  background-color: #6346E6;
  padding:30px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  align-items: center;
}

.botao1:hover {
  background-color: #5a44cd;
  color: #ffffff;
  text-decoration: none;
}

.botão3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #fd8d20;
  padding:30px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  align-items: center;
}

.inscricao_container {
  width: 1360px;
  margin-left: auto;
}
.setTheTimer {
  list-style: none;
  display: flex;
}

.setTheTimer li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgba(253, 141, 32, 0.1);
  background: rgba(253, 141, 32, 0.2);
  border-radius: 20px;
  margin-left: 20px;
  padding: 4px;
  height: 145px;
  width: 145px;
  font-weight: bold;
}

.setTheTimer li span {
  display: block;
  font-size: 4.5rem;
}

.container2 {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.customform,
.cadastrarLive {
  width: 800px;
  height: 442px;
  border-radius: 20px;
  background-color: #fd8d20;
  text-align: center;
  margin-left: 170px;
  margin-bottom: 100px;
}

.imgfinal {
  margin-bottom: 30px;
}

.quemsomos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 113.19%;
}

.quemsomos2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 113.19%;
  text-align: justify;
}
.teste2{
  margin-bottom: 50px;
}
.purplestar {
  color:#5624C3;
  font-weight: bold;
}
.nossascrencas {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 113.19%;
}
.carousel-indicators{
  botton: 0px; 
}
.carousel-inner {
  margin-bottom: 20px;
}
.carousel-indicators li {
 background-color: #5624C3;
 border: none;
}
input[type="text"] {
  background-color: transparent; 
  font-size: 20px;
}
input[type="email"] {
  background-color: transparent; 
  font-size: 20px;
}

.input_dados::-webkit-input-placeholder { /* WebKit browsers */
  width: 144px;
  height: 48.7px;
  font-family: Montserrat;
  font-size: 27.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #ffe8d2;
}
.input_dados {
  width: 653px;
  height: 81.6px;
  border-radius: 17px;
  box-shadow: 0 4.5px 4.5px 0 rgba(84, 37, 191, 0.16);
  border: solid 1.1px #ffffff;
  margin: 50px auto;
}

.text_inscricao {
  width: 868px;
  height: 51px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #5624c3;
  text-align: end;
}

.rodape {
  padding: 50px;
  background-color: #f1f1f1;
  width: 100%;
}

@media(min-width: 320px) and (max-width:767px) {
  * {
    max-width: 820px;
  }
  .caixa {
    width: 55%;
    margin: 30px 0px 10px 100px;
}
h1, h2, h4, h5 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.1rem;
}
.botao1 {
  font-size: 26px;
  margin-bottom: 25px;
}
.menu {
  margin-left: 195px
}
.lead {
  font-size: 1.35rem;
  margin-bottom: 60px;
}
.titulo2 {
  font-size: 2rem;
}
.menu_options {
  margin-right: 40px;
  white-space: nowrap;
  display: none;
}
li, a{
  font-size: 29px;
}
.palestrantes {
  margin-left: 30px;
  width: 634px;
}
.container2 {
  margin-left: 178px;
  size: 30%;
}
.setTheTimer li {
  width: 7.1rem;
  height: auto;
  font-size: 1rem;
}
.align_info {
  display: block;
  padding: 10px;
}
.titulo_palestrante {
  font-size: 31px;
  width: auto;
  margin-left: 10px;
  margin-top: 5px;
  padding: 8%;
}
.titulo_palestrante2 {
  font-size: 20px;
  padding: 20%;
}
.nome_palestrante {
  font-size: 26px;
  margin-top: 15px;  
  margin-left: 25px;
  text-align: center;
}
.prof_palestrante {
  font-size: 21px;
  margin-top: 5px;
  margin-left: 25px;
  align-content: center;
  text-align: center;
}
.text_inscricao {
  font-size: 28px;
  width: 350px;
  text-align: center;
  margin-right: 75%;
  margin-left: 25%;
  margin-bottom: 5%;
}
.text_palestrante {
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 130px;
  padding: 5%;
  width: auto;
}
.text_align {
  width: 100%;
}
.area_palestrante {
  width: 235px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 5px;
}
.orangeboard {
  margin-top: 20px;
  margin-left: 217px;
  size: 70%;
  width: 190px;
  height: auto;

}
.customform,
.cadastrarLive {
  width: 635px;
  height: auto;
  margin-left: 20px;
}

.input_dados {
  width: 590px;
}

.rodape {
  width: 824px;
}
}

@media(min-width:768px) and (max-width:1024px) {
  .img-fluid {
    margin-left: 156px;
    max-width: none;
    margin-top: 150px;
}
.menu {
  margin-left: 340px;
}
.menu_options {
  margin-right: 39px;
  white-space: nowrap;
}
.container2 {
  margin-left: 490px;
}
.palestrantes {
  width: 1225px;
  margin-left: 100px;
}

.titulo_palestrante2  {
  margin-top: 32px;
  margin-left: -310px;
  font-size: 20px;
}
.area_palestrante {
  width: 244px;
}
.inscricao_container {
  margin-left: 140px;
}
.rodape {
  width: 1600px;
}
}