@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5624c3;
  color: #ffffff;
}

.container {
  display: inline-block;
  justify-items: center;
  margin-top: 5%;
  margin-left: 20%;
}

h1 {
  width: 347px;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
  font-size: 76px;
  font-weight: 500;
  font-stretch: normal;
  font-style: bold;
  line-height: 1.23;
  letter-spacing: normal;
  color: #ffffff;
}

.p1 {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.23;
}

.text-container {
  margin-top: 30px;
}

.p2 {
  width: 85%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #fafafa;
}

.btn {
  margin-top: 20px;
  border-radius: 50px;
  background-color: #61ce70;
  width: 45rem;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
}

.queromuito {
  background-color: #61ce70;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: bold;
  line-height: 1.13;
  letter-spacing: normal;
  color: #000000;
}

.whatsapp {
  background-color: #61ce70;
  margin-right: 15px;
  width: 7%;
  height: auto;
  cursor: pointer;
}


@media (max-width: 700px) {
  font-family {
      font-size: 40%; /* todo 1rem equivale a 10px*/
  }

  .container {
    margin: auto;
    size: 50%;
    margin-top: 3rem;
  }

  .btn {
    width: 70%;
    height: auto;
    margin: 0;
    margin: auto;

  }

  .queromuito {
    font-size: 15px;
    margin: auto;
  }

  .whatsapp {
    width: 0%;
    height: auto;
  }

  .text-container {
    align-items: center;
  }

  .ciclo-colab {
    width: 30%;
    height: auto;
  }
}
